.list{
  .item{
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #f0f0f0;
    .title{
      font-size: 20px;
      .item-link{
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
