{
  "presets": [
    ["@babel/preset-env",
    {
      "modules": false,
      "targets":
      {
        "browsers": ["> 1%", "last 7 iOS versions", "last 5 versions", "not ie <= 8"]
      },
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-async-to-generator"
  ]
}